
@import './scale.less';

// 上
.m-t-lg {
  margin-top: @scale3;
}

.m-t-md {
  margin-top: @scale2;
}

.m-t-sm {
  margin-top: @padding-sm;
}

.m-t-xs {
  margin-top: @scale;
}

.m-r-mi {
  margin-right: @scaleHalf;
}

// 右
.m-r-lg {
  margin-right: @scale3;
}

.m-r-md {
  margin-right: @scale2;
}

.m-r-sm {
  margin-right: @padding-sm;
}

.m-r-xs {
  margin-right: @scale;
}

.m-r-mi {
  margin-right: @scaleHalf;
}

// 下
.m-b-lg {
  margin-bottom: @scale3;
}

.m-b-md {
  margin-bottom: @scale2;
}

.m-b-sm {
  margin-bottom: @padding-sm;
}

.m-b-xs {
  margin-bottom: @scale;
}

.m-b-mi {
  margin-bottom: @scaleHalf;
}

// 左
.m-l-lg {
  margin-left: @scale3;
}

.m-l-md {
  margin-left: @scale2;
}

.m-l-sm {
  margin-left: @padding-sm;
}

.m-l-xs {
  margin-left: @scale;
}

.m-l-mi {
  margin-bottom: @scaleHalf;
}
