@import '~ant-design-vue/lib/style/index';
// @import './_antd-copy.less';

// 4px
@scaleHalf: @padding-xs / 2px;

// 8px
@scale: @padding-xs;

// ...
@scale2: @padding-xs * 2px;

@scale3: @padding-xs * 3px;

@scale4: @padding-xs * 4px;

@scale5: @padding-xs * 5px;

@scale6: @padding-xs * 6px;

@scale7: @padding-xs * 7px;

@scale8: @padding-xs * 8px;

@scale9: @padding-xs * 9px;

@scale10: @padding-xs * 10px;